@{
    ViewData["Title"] = "Приветсвие";
}


<div class="hero">
    <div class="hero__image">
        <img src="~/lib/image/home/hero-background.png" alt="" class="hero__bacground-image">
        <img src="~/lib/image/home/Aleksey-slim.png" alt="" class="hero__image-img">
    </div>
    <div class="hero__greeting">
        <div class="hero__greeting-title">Привет, я</div>
        <h1 class="hero__greeting-subtitle">Алексей Прусевич</h1>
        <div class="hero__greeting-subject">студент группы ИСТзс31</div>

        <div class="hero__social">
            <ul class="social-list">
                <li class="social-list__item">
                    <a class="social social--vk" href="https://vk.com/lexa_prusevich" title="Я в ВКонтакте" target="_blank"></a>
                </li>

                <li class="social-list__item">
                    <a class="social social--vb" href="viber://chat?number=+375298054774" title="Я в Viber" target="_blank"></a>
                </li>

                <li class="social-list__item">
                    <a class="social social--email" href="mailto:aleksey.prusevich.7@mail.ru" title="Я в Mail.ru" target="_blank"></a>
                </li>
            </ul>
        </div>

        <div class="hero__greeting__btn btn-container">
            <button class="hero-btn github">
                <a class="hero-button btn--active" target="_blank" href="https://github.com/AlekseyPrusevich/networkApp">Проект на GitHub</a>
            </button>
            <button class="hero-btn resume">
                <a class="hero-button" target="_blank" href="https://yadi.sk/i/0FW2o1bwWQw3OA">Пояснительная записка</a>
            </button>
        </div>
    </div>
</div>

<div class="cont">
    <div class="content-panel  content-panel-1" style="background-color: white;">
        <div class="panel__image">
            <img src="~/lib/image/home/topic.png" alt="">
        </div>
        <div class="text__wrap">
            <div class="text">
                <h3 class="description__header">Теоретические материалы</h3>
                <span class="description__text">
                    Любой пользователь может изучить ряд теоретических материалов, содержащиеся в приложении. Эти материалы предназначены для самостоятельного обучения
                    учащимися и могут включать в себя как текст, так и различные изображения, графики, аудио- и видеоматериалы.<br><br>
                    Для выбора, интересующего материала необходимо навести мышью на пункт меню «Темы» и в выпадающем списке выбрать интересующую пользователя тему
                </span>
            </div>
        </div>

    </div>
    <div class="content-panel  content-panel-2" style="background-color:white;">
        <div class="panel__image">
            <img src="~/lib/image/home/test.png" alt="">
        </div>
        <div class="text__wrap">
            <div class="text">
                <h3 class="description__header">Выполнение тестирования</h3>
                <span class="description__text">
                    Авторизованный пользоыватель может выполнить тестирования по выбранной теме. Для этого наведите мышью на пункт меню «Вопросы» и выберете необходимый тест.<br><br>
                    Для выполнения тест необходимо только выбрать один или несколько ответов для каждого вопроса и после этого нажать кнопку «Отправить». Программа сама посчитает результат и сохранит его в базе данных, а также выведет пользователю страницу где будут отмечены все ответы пользователя и выведены все правильные и неправильные ответы.
                </span>
            </div>
        </div>
    </div>
    <div class="content-panel  content-panel-3" style="background-color:white;">
        <div class="panel__image">
            <img src="~/lib/image/home/result.png" alt="">
        </div>
        <div class="text__wrap">
            <div class="text">
                <h3 class="description__header">Поросмотр результатов</h3>
                <span class="description__text">
                    Если пользователь авторизован как администратор или преподаватель, он может просмотреть результаты выполненных тестов. Для этого необходимо выбрать пункт «Результаты» в главном меню.<br><br>
                    Появившееся окно представляет собой таблицу и фильтры для работы с ней (по учащемуся, группе и названию теста). В таблице выведена вся информация (ФИО и группа учащегося, наименование тета, результаты, дата выполнения) обо всех  выполненных тестах.<br><br>
                </span>
            </div>
        </div>
    </div>
    <div class="content-panel  content-panel-4" style="background-color:white;">
        <div class="panel__image">
            <img src="~/lib/image/home/constructor.png" alt="">
        </div>
        <div class="text__wrap">
            <div class="text">
                <h3 class="description__header">Создание и редактирование теста</h3>
                <span class="description__text">
                    Пользователь авторизован как администратор или преподаватель может редактировать тесты. Для этого необходимо выбрать пункт «Конструктор» в главном меню.<br><br>
                    Пользователь может как создать новый тест, так и удалит или редактировать существующий. При выборе создания или редактирования теста пользователя перемещает на страницу конструктора теста. В этой странице он может добавлять, изменять, удалять любые вопросы, ответы, менять правильные ответы и их количество
                </span>
            </div>
        </div>
    </div>
</div>

<div class="background">
    <h1 class="home-title">
        Автоматизированная система обучения<br />
        по дисциплине<br />
        "Основы иформационных технологий"
    </h1>
    <a href="javascript:void(0)" class="home-button">
        Руководство пользователя 
    </a>
</div>

<div class="advantages">
    <div class="advantages__title">
        <h2>Основные функции</h2>
    </div>

    <div class="advantage__container">
        <div class="advantage__image advantage__image-1 advantage__image--left">
        </div>
        <div class="advantage__description">
            <h3>Лекционные материалы</h3>
            <p>
                Любой пользователь может изучить ряд теоретических материалов, содержащиеся в приложении. Эти материалы предназначены
                для самостоятельного обучения
                учащимися и могут включать в себя как текст, так и различные изображения, графики, аудио- и видеоматериалы.
            </p>
            <p>
                Для выбора, интересующего материала необходимо навести мышью на пункт меню «Темы» и в выпадающем списке выбрать
                интересующую пользователя тему
            </p>
        </div>
    </div>

    <div class="advantage__container">
        <div class="advantage__description">
            <h3>Тестовые задания</h3>
            <p>
                Авторизованный пользоыватель может выполнить тестирования по выбранной теме. Для этого наведите мышью на пункт меню
                «Вопросы» и выберете необходимый тест.
            </p>
            <p>
                Для выполнения тест необходимо только выбрать один или несколько ответов для каждого вопроса и после этого нажать кнопку
                «Отправить». Программа сама посчитает результат и сохранит его в базе данных, а также выведет пользователю страницу где
                будут отмечены все ответы пользователя и выведены все правильные и неправильные ответы.
            </p>
        </div>
        <div class="advantage__image advantage__image-2 advantage__image--right">
        </div>
    </div>

    <div class="advantage__container">
        <div class="advantage__image advantage__image-3 advantage__image--left">
        </div>
        <div class="advantage__description">
            <h3>Результаты тестирования</h3>
            <p>
                Если пользователь авторизован как администратор или преподаватель, он может просмотреть результаты выполненных тестов.
                Для этого необходимо выбрать пункт «Результаты» в главном меню.
            </p>
            <p>
                Появившееся окно представляет собой таблицу и фильтры для работы с ней (по учащемуся, группе и названию теста).
                В таблице выведена вся информация (ФИО и группа учащегося, наименование тета, результаты, дата выполнения) обо всех
                выполненных тестах.
            </p>
        </div>
    </div>

    <div class="advantage__container">
        <div class="advantage__description">
            <h3>Редактирование лекций</h3>
            <p>
                Пользователь авторизован как администратор или преподаватель может редактировать тесты.
                Для этого необходимо выбрать пункт «Конструктор» в главном меню.
            </p>
            <p>
                Пользователь может как создать новый тест, так и удалит или редактировать существующий.
                При выборе создания или редактирования теста пользователя перемещает на страницу конструктора теста.
                В этой странице он может добавлять, изменять, удалять любые вопросы, ответы, менять правильные ответы и их количество
            </p>
        </div>
        <div class="advantage__image advantage__image-4 advantage__image--right">
        </div>
    </div>

    <div class="advantage__container">
        <div class="advantage__image advantage__image-5 advantage__image--left">
        </div>
        <div class="advantage__description">
            <h3>Редактирование тестов</h3>
            <p>
                Пользователь авторизован как администратор или преподаватель может редактировать тесты.
                Для этого необходимо выбрать пункт «Конструктор» в главном меню.
            </p>
            <p>
                Пользователь может как создать новый тест, так и удалит или редактировать существующий.
                При выборе создания или редактирования теста пользователя перемещает на страницу конструктора теста.
                В этой странице он может добавлять, изменять, удалять любые вопросы, ответы, менять правильные ответы и их количество
            </p>
        </div>
    </div>
</div>