@model networkApp.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Регистрация";
}

<div class="login-block registed-block">
    <h2 class="login__header">Регистрация</h2>
    <form method="post" asp-controller="Account" asp-action="Register">

        <div class="login__group">
            <input asp-for="Email" class="login__input" type="text" required>
            <span class="login__highlight"></span>
            <span class="login__bar"></span>
            <label asp-for="Email" class="login__label">Логин/Email</label>
            <span asp-validation-for="Email"></span>
        </div>

        <div class="login__group">
            <input asp-for="FirstName" class="login__input" type="text" required>
            <span class="login__highlight"></span>
            <span class="login__bar"></span>
            <label asp-for="FirstName" class="login__label">Имя</label>
            <span asp-validation-for="FirstName"></span>
        </div>

        <div class="login__group">
            <input asp-for="LastName" class="login__input" type="text" required>
            <span class="login__highlight"></span>
            <span class="login__bar"></span>
            <label asp-for="LastName" class="login__label">Фамилия</label>
            <span asp-validation-for="LastName"></span>
        </div>

        <div class="login__group">
            <input asp-for="Group" class="login__input" type="text" required>
            <span class="login__highlight"></span>
            <span class="login__bar"></span>
            <label asp-for="Group" class="login__label">Группа</label>
            <span asp-validation-for="Group"></span>
        </div>

        <div class="login__group">
            <input asp-for="Password" class="login__input" type="password" required>
            <span class="login__highlight"></span>
            <span class="login__bar"></span>
            <label asp-for="Password" class="login__label">Пароль</label>
            <span asp-validation-for="Password"></span>
        </div>

        <div class="login__group">
            <input asp-for="PasswordConfirm" class="login__input" type="password" required>
            <span class="login__highlight"></span>
            <span class="login__bar"></span>
            <label asp-for="PasswordConfirm" class="login__label">Пароль</label>
            <span asp-validation-for="PasswordConfirm"></span>
        </div>

        <div asp-validation-summary="ModelOnly"></div>

        <div class="login__submit">
            <input class="login__btn" type="submit" value="Зарегистрироваться" />
        </div>
    </form>
</div>