.accessControl__container {
    padding: 30px;
}

.group__menu {
    display: flex;
    flex-direction: column;
}

.group__menu > div {
    margin-top: 16px;
}

.group__menu select {
    margin-right: 16px;
}

.group__menu input {
    width: 200px;
}

.groupSelect-btn {
    width: 210px;
}

.groupList-btn {
    height: 32px;
    padding: 0px 24px;
}

.test__header {
    margin: 16px 0 8px;
}

.test__list {
    margin-top: 24px;
}

.test__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    list-style: none;
}

.test__items li {
    width: 32%;
    margin: 8px 0;
}


.test__item {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    border: 1px solid gray;
}

.test__item:hover {
    border-color: #1565C0;
}

.test__checkbox {
    z-index: 1;
}

.test__title {
    margin-left: 8px;
    z-index: 1;
}

.test__active {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #1565C0;
    z-index: 0;
}

.test__checkbox:checked + .test__title {
    color: white;
}

.test__checkbox:checked + .test__title + .test__active {
    display: block;
}

.group_list__panel {
    position: fixed;
    left: 35%;
    top: 20%;
    display: none;
    min-width: 300px;
    width: 30%;
    background-color: teal;
    padding: 10px;
}

.group__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.group__item {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 48%;
    margin: 5px 1%;
    padding: 5px 10px;
    border: 1px solid gray;
}

.accessControl-btn {
    margin-top: 32px;
}