html {
    box-sizing: border-box;
}

body {
    font-weight: 400;
    font-size: 14px;
}

p, span, h1, h2, h3, li, ul {
    padding: 0;
    margin: 0;
}

.bg-color {
    background-color: #1565c0;
}

.body-1 {
    font-size: 14px
}

.button {
    height: 40px;
    min-width: 160px;
    padding: 8px 24px;
    text-transform: uppercase;
}

.button--create {
    margin-top: 40px;
    margin-bottom: 16px;
    width: 304px;
}

.mb-40 {
    margin-bottom: 40px;
}

