main {
    font-size: 16px;
    font-family: Tahoma, sans-serif;
    box-sizing: border-box;
}

h3 {
    font-size: 1.4rem;
    margin: 0;
}


.hero {
    display: flex;
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    display: none;
}

.hero__image {
    margin-top: 6rem;
    align-self: flex-end;
    width: 50%;
    height: 40.3rem;
    position: relative;
}

.hero__image img {
    position: absolute;
}

.hero__image-img {
    left: 3em;  
}

.hero__bacground-image {
    top: 5em;
    left: -1.7em;
}

.hero__greeting {
    line-height: 1.2;
    margin-top: 18rem;
    margin-left: 6rem;
    width: 30rem;
}
  
  .hero__greeting-title {
    font-family: 'Montserrat-Light', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #2b2a2c;
  }
  
  .hero__greeting-subtitle {
    margin: -3px 0 8px 0px;
    padding: 0;
    font-size: 46px;
    font-weight: 700;
  }
  
  .hero__greeting-subject {
    font-size: 18px;
    letter-spacing: .1em;
  }
  
  .hero__social {
    margin: 2rem 0 1.8rem -4px;
  }
  
  .social-list {
    display: flex;
    text-decoration: none;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .social-list__item {
    margin-bottom: 10px;
    padding: 0 5px;
  }
  
  .social {
    display: block;
    width: 42px;
    height: 41px;
    transition: all 0.15s ease;
  }
  
  .social:hover {
    opacity: 0.7;
  }
  
  .social--vk {
    
    background: url('logo/vk.png') no-repeat;
    background-color: #5282b8;
  }

.social--vb {
    background: url('logo/viber.png') no-repeat;
    background-color: #7d51a0;
}

.social--email {
    background: url('logo/mail.png') no-repeat;
    background-color: #0c54a0;
}

.social {
    background-size: contain;
}

.hero__greeting__btn {
    display: flex;
    flex-direction: row;
    font-size: .9rem;
}

.hero__greeting__btn > a {
    text-decoration: none;
}

.hero-btn {
    border: none;
    background-color: transparent;
    padding: 0 !important;
    margin-top: 15px;
    margin-bottom: 15px;
}

.hero-button {
    padding: .8rem 1rem;
    margin-bottom: 10px;
    background-color: transparent;
    border: 1px solid #6a696b;
    border-radius: 3rem;
    color: #6a696b;
    line-height: 1.2;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.2s ease;
}

.hero-button:hover {
    text-decoration: none;
}

.btn--active {
    margin-right: 1rem;
}

a .hero-button:hover,
a .hero-button:focus,
a .hero-button:active,
input .hero-button:hover,
input .hero-button:focus,
input .hero-button:active,
button .hero-button:hover,
button .hero-button:focus,
button .hero-button:active {
    background-color: #2b2a2c;
    border: 1px solid #2b2a2c;
    color: #fff;
}

/* вторая страница */

.cont {
    display: flex;
    max-width: 1140px;
    width: 100%;
    height: 50rem;
    margin-top: 5rem;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;

    display: none;
}

.content-panel {
    position: absolute;
    width: 40%;
    height: 20rem;
    box-shadow: 7px 7px 9px 2px rgba(0,0,0,0.5);
}

.content-panel-1 {
    left: 5%;
}

.content-panel-2 {
    right: 5%;
}

.content-panel-3 {
    top: 25rem;
    left: 5%;
}

.content-panel-4 {
    top: 25rem;
    right: 5%;
}

.panel__image {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

    .panel__image img {
        display: block;
        align-self: center;
        margin: auto;
        padding: 0;
        width: 100%;
    }

.text__wrap {
    position: relative;
    height: 15%;
}

.text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.description__header {
    margin-left: 20px;
    padding: 4px 30px;
    margin-top: 6px;
    position: absolute;
    color: rgba(240, 240, 240, 1);
}

.description__text {
    margin-right: 32px;
    text-align: justify;
    text-overflow: ellipsis;
    display: none;
}

.content-panel:hover {
    display: flex;
    width: 100%;
    z-index: 1;
    transition: .2s;
}

    .content-panel:hover .text__wrap {
        width: 50%;
    }

        .content-panel:hover .text__wrap .text {
            top: 12px;
            background-color: rgba(0, 0, 0, 0.0);
            box-shadow: none;
        }

            .content-panel:hover .text__wrap .text .description__header {
                color: black;
                padding: 0;
                margin-top: 0;
            }

            .content-panel:hover .text__wrap .text .description__text {
                margin-top: 3rem;
                display: block;
            }

    .content-panel:hover .panel__image {
        display: flex;
        margin: auto;
        width: 40%;
        height: 96%;
    }

.background {
    position: absolute;
    top: 63px;
    left: 0;
    height: 600px;
    width: 100%;
    background-image: url('/lib/image/home/college.png');
    background-position: 50%;
    background-size: cover;
}

.home-title {
    font-weight: 700;
    font-size: 48px;
    color: white;
    text-align: center;
    margin: 140px auto 0;
}

.home-button {
    display: block;
    width: fit-content;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    background-color: #1565c0;
    padding: 16px 48px;
    border-radius: 32px;
    margin: 48px auto 0;
}

.home-button:hover {
    text-decoration: none;
    color: white;
    background-color: #1974d2;
}

.advantages {
    margin-top: 599px;
}

.advantages__title h2 {
    width: 100%;
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2b2b2b;
    padding: 48px 0;
}

.advantage__container {
    display: flex;
    align-items: center;
    width: 100%;
    border-top: 2px solid #2b2b2b;
}

.advantage__image {
    position: relative;
    width: 60%;
    min-height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.advantage__image-1 {
    background-image: url('/lib/image/home/topic.png');
}

.advantage__image-2 {
    background-image: url('/lib/image/home/test.png');
}

.advantage__image-3 {
    background-image: url('/lib/image/home/result.png');
}

.advantage__image-4 {
    background-image: url('/lib/image/home/topicConstructor.png');
}

.advantage__image-5 {
    background-image: url('/lib/image/home/testConstructor.png');
}

.advantage__image--left::before {
    display: block;
    content: '';
    width: 100%;
    height: 400%;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(to top left, white 50%, rgba(255,0,0,0) 86%);
}

.advantage__image--right::before {
    display: block;
    content: '';
    width: 100%;
    height: 400%;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(to top right, white 50%, rgba(255,0,0,0) 86%);
}

.advantage__description {
    width: 34%;
    margin: 3%;
}

.advantage__description h3 {
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
}

.advantage__description p {
    margin-bottom: 1rem;
}