.questions__container {
    margin-top: 32px;
}

.questions__title {
    font-size: 40px;
    font-weight: 600;
}

.questions__description {

}

.questions__form {
    margin-top: 24px;
    margin-bottom: 112px;
}

.questions__table th,
.questions__table td {
    padding: 8px;
}

.question__title {
    margin-bottom: 4px;
}

.question__title span {
    font-weight: 600;
}



