label {
    margin-bottom: 0px;
}

/* Хедер  */

.header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-nav__list {
    width: 100%;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Таблица и результаты */

.error-message {
    margin: 3rem;
    font-size: 2rem;
    font-weight: 500;
}

/* конструктор тестов */

.test-name__block {
    margin-bottom: 3rem;
}

.test-name__imput {
    width: 100%;
}

.test-constructor__add-question {
    margin-bottom: 1em;
}

.test-constructor__answer-block {
    display:flex;
    align-items: center;
}

select {
    padding: 5px 4px;
    border: 0;
    border-bottom: 1px solid #ccc;
}

select:focus, select:active {
    outline: 0;
    border-bottom: 1px solid #007bff;
}
