.test__error-list {

}

.test__info-container {

}

.test__info-container--ready {
    margin-bottom: -32px;
}

.listErrors {
    color: red;
    margin-bottom: 16px;
}

.baseContainer {
    position: relative;
}

.baseContainer--ready {
    margin-bottom: 128px;
}

.test-constructor__question {
    margin-bottom: 8px;
}

.test-constructor__question-container,
.test-constructor__answer-container {
    width: 100%;
    display: flex;
    align-items: center;
}

.text__block {
    position: relative;
    margin-top: 16px;
}

.text-input:focus {
    border-bottom: 1px solid #0069d9;
}

.test-name__imput {
    width: 100%;
}

.test-name__imput:focus,
.test-specialization__imput:focus {
    border-bottom-color: #ccc;
}

.test-name__imput ~ .focus-name-border,
.test-specialization__imput ~ .focus-specialization-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #0069d9;
    transition: 0.6s;
}

.test-name__imput:focus ~ .focus-name-border,
.test-specialization__imput:focus ~ .focus-specialization-border {
    width: 100%;
    transition: 0.6s;
}

.button--add {
    height: 32px;
    width: 100%;
    padding: 4px 24px;
    text-transform: none;
}

.button--add-question {
    position: absolute;
    height: 40px;
    text-transform: uppercase;
}

.button--add-question-ready {
    bottom: -96px;
}

.button--add-answer {
    position: absolute;
    bottom: -42px;
    width: calc(100% - 188px);
    margin: 8px 168px 0 20px;
}

.button--delete {
    height: 30px;
    padding: 4px 24px;
    margin-left: 8px;
    background-color: #dc3545;
    text-transform: none;
}

.button--delete:hover {
    background-color: #e63244;
}

.button--delete:focus,
.button--delete:active {
    background-color: #cc182a;
    box-shadow: 0 0 0 0.2rem rgba(204, 24, 42, 0.25);
}

.test__check {
    margin-right: 8px;
}

.test-constructor__question-block {
    position: relative;
    width: 100%;
}

.test-constructor__question > select:hover {
    background-color: rgba(0, 0, 0, 0.02);
}

.test-constructor__question-control {
    display: flex;
    margin-bottom: 4px;
}

.test-constructor__question-control > select {
    width: 12rem;
}

.test-submit-container {
    display: none;
}

.test-submit-container--ready {
    display: block;
}

