
@{
    ViewData["Title"] = "Создание теста";
}
 
<form asp-action="GetTest" method="post">
    <div class="test__info-container mt-16" id="test__info-container">
        <h2 class="header__title">Добавление теста</h2>
        <div class="text__block">
            <input class="text-input text-input--all test-name__imput" value="@ViewBag.FileName" type="text" id="testname" name="testName" placeholder="Введите название теста" />
            <span class="focus-border focus-name-border"></span>
        </div>
        <div class="text__block">
            <input class="text-input text-input--all test-specialization__imput" value="@ViewBag.FileSpecialization" type="text" id="testSpecialization" name="testSpecialization" placeholder="Введите cпециализацию теста" />
            <span class="focus-border focus-specialization-border"></span>
        </div>
    </div>

    <div>
        <div id="baseContainer" class="baseContainer mt-32">
            <button class="button button--add button--add-question" id="test-add-question" onclick="createQuestion()">Добавить вопрос</button>
        </div>
    </div>

    <div class="test-submit-container" id="test-submit-container">
        <div id="listErrors" class="listErrors"></div>
        <button class="button btn btn-primary" onclick="apply()">Выполнить изменения</button>
        <button class="button btn btn-primary" id="sbtn" style="visibility:hidden" type="submit" asp-action="GetTest">Сохранить изменения</button>
    </div>

    <script>
        let deletableQ = [];
        let listError = [];
        let deletable = new Array();
        let numQuestion = 0;
        let numAnswer = 0;

        function createQuestion() {
            document.getElementById("sbtn").style.visibility = "hidden";
            document.getElementById("test__info-container").style.marginBottom = "-32px";
            document.getElementById("baseContainer").style.marginBottom = "128px";
            document.getElementById("test-add-question").style.bottom = "-96px";
            document.getElementById("test-submit-container").style.display = "block";
            numQuestion++;
            let str = '\<div class="test-constructor__question" id="q' + numQuestion + '">\
                            <div  class="test-constructor__question-container">\
                                <input class="text-input text-input--all mr-8" type = "text" name = "nameQuestion" id = "qnm" placeholder = "Введите вопрос" />\
                                <select onchange="chngType('+ numQuestion + ')" name="type" id="type' + numQuestion + '">\
                                    <option value="radio">Один из списка</option>\
                                    <option value="checkbox">Несколько из списка</option>\
                                </select>\
                                <button class="button button--delete" onclick="deleteQuestion('+ numQuestion + ')">Удалить</button>\
                            </div>\
                            <button class="button button--add button--add-answer" onclick = "createAnswer('+ numQuestion + ')" > Добавить ответ</button >\
                        </div > ';
            let childComp = document.getElementById("baseContainer");
            let div = document.createElement('div');
            div.innerHTML = str;
            childComp.appendChild(div).setAttribute("class", `test-constructor__question-block mt-72`);
            childComp.appendChild(div).setAttribute("id", `q${numQuestion}`);
            event.preventDefault();
        }

        function createAnswer(num) {
            document.getElementById("sbtn").style.visibility = "hidden";
            numAnswer++;
            console.log()
            let str = '\<div class="test-constructor__answer-container" id="ans' + numAnswer + '" num="' + numAnswer + '">\
                            <input id = "ka' + numAnswer + '" class="test__check" value = "' + numAnswer + '" type = "' + getType(num) + '" name = "isTrue[' + num + ']" />\
                            <input class="text-input text-input--all" id="ia' + numAnswer + '" type="text" placeholder="Введите ответ" name="answer[' + num + ']" />\
                            <button class="button button--delete" onclick="deleteAnswer('+ numAnswer + ')">Удалить</button>\
                        </div > ';
            let childComp = document.getElementById("q" + num);
            let div = document.createElement('div');
            div.innerHTML = str;
            childComp.appendChild(div).setAttribute("id", `ans${numAnswer}`);
            event.preventDefault();
        }

        function getType(num) {
            let e = document.getElementById("type" + num);
            return e.options[e.selectedIndex].value;
        }

        function deleteAnswer(num) {
            document.getElementById("sbtn").style.visibility = "hidden";
            document.getElementById("ans" + num).remove();
            deletable.push(num);
            event.preventDefault();
        }

        function deleteQuestion(num) {
            deletableQ.push(num);
            document.getElementById("sbtn").style.visibility = "hidden";
            let quest = document.getElementById("q" + num).children;

            for (var i = 1; i < quest.length; i++) {
                let strAtr = quest.item(i).getAttribute("id");
                deletable.push(Number(strAtr.replace("ans", '')));
            }
            document.getElementById("q" + num).remove();
            event.preventDefault();
        }

        function validate() {
            var textName = document.getElementById("testname").value;
            if (textName == '') {
                listError.push("Введите название теста");
            }

            var testSpecialization = document.getElementById("testSpecialization").value;
            if (testSpecialization == '') {
                listError.push("Введите специализацию теста");
            }

            let counterContainer = document.getElementById("baseContainer").children.length;

            if (counterContainer == 1) {
                listError.push("Добавьте ответ");
            }
            for (var i = 1; i < counterContainer; i++) {
                if (deletableQ.indexOf(i) >= 0) {
                    continue;
                }
                else {
                    let question = document.getElementById("q" + i).children;
                    let questName = question.item(0).children.item(0).value

                    let counterAnswers = question.length;

                    if (questName == '') {
                        listError.push("Введите текст вопроса в вопросе № " + i);
                    }
                    if (counterAnswers == 1) {
                        listError.push("Добавьте ответ в вопрос № " + i);
                    }
                    let counterBox = 0;
                    for (var j = 1; j < counterAnswers; j++) {
                        let box = question.item(j).children.item(0).children.item(0).checked;
                        let ansI = question.item(j).children.item(0).children.item(1).value;
                        if (box === false) {
                            counterBox++;
                        }

                        if (ansI.length == 0) {
                            listError.push("Введите текст ответа вопроса № " + i + " вопрос: " + j);
                        }
                    }
                    if (counterBox == counterAnswers - 1 && counterAnswers > 1) {
                        listError.push("Выберите хотя бы один правильный ответ в вопросе " + questName);
                    }
                }
            }

            let counterChild = document.getElementById("listErrors").children.length;
            if (counterChild > 0) {
                for (var i = 0; i < counterChild; i++) {
                    let el = document.getElementById("error");
                    document.getElementById("error").remove();
                }
            }

            event.preventDefault();
        }

        function apply() {
            validate();
            for (var i = 1; i <= numAnswer; i++) {
                if (deletable.indexOf(i) >= 0) {
                    continue;
                }
                else {
                    document.getElementById("ka" + i).value = document.getElementById("ia" + i).value;
                }
            }
            if (listError.length == 0) {
                document.getElementById("sbtn").style.visibility = "visible";
            }
            else {
                let errors = '';
                for (var i = 0; i < listError.length; i++) {
                    let childComp = document.getElementById("listErrors");
                    let div = document.createElement('div');
                    div.innerHTML = '<div>' + listError[i] + '</div>';
                    childComp.appendChild(div).setAttribute("id", "error");
                }
                listError = [];
            }
            event.preventDefault();
        }

        function chngType(num) {
            let children = document.getElementById("q" + num).children;
            console.log(children);
            let len = children.length;
            for (var i = 1; i < len; i++) {
                let type = children.item(i).children.item(0).children.item(0).type = getType(num);
            }
        }
    </script>
</form>