@using System.IO
@{
    ViewBag.Title = "Редактированеи тестов";
}

<h2 class="questions__title">Список тестов</h2>

<a class="button button--create btn btn-sm btn-primary" asp-controller="TestConstructor" asp-action="Create">Добавить тест</a>

<table class="table table--tests">
    <tr>
        <th class="title-col">Наименование теста</th>
        <th class="control-col"></th>
    </tr>
    @{
        DirectoryInfo dir = new DirectoryInfo(@"Tests\");

        foreach (var item in dir.GetFiles())
        {
            <tr>
                <td class="title-col">@item.Name.Replace("_", " ").Replace(".xml", "")</td>

                <td class="control-col">
                    <form method="post">
                        <button class="btn btn-sm btn-primary" value="@item.Name" name="fileName" asp-action="CopyTest">
                            Копировать
                        </button>
                        <button class="btn btn-sm btn-primary" value="@item.Name" name="fileName" asp-action="EditConstructor">
                            Изменить
                        </button>
                        <button class="btn btn-sm btn-danger" value="@item.Name" name="fileName" type="submit" asp-action="Delete">
                            Удалить
                        </button>
                    </form>
                </td>
            </tr>
        }
    }
</table>
