@model networkApp.ViewModels.Users.ChangePasswordViewModel
@{
    ViewBag.Title = "Изменение пароля";
}


<div class="login-block">
    <h2 class="login__header">Изменение пароля для пользователя @Model.Email</h2>
    <form asp-action="ChangePassword" asp-controller="Users">
        <div asp-validation-summary="All" class="text-danger"></div>

        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Email" />

        <div class="login__group">
            <input asp-for="OldPassword" class="login__input" type="text" required>
            <span class="login__highlight"></span>
            <span class="login__bar"></span>
            <label asp-for="OldPassword" class="login__label">Старый пароль</label>
        </div>

        <div class="login__group">
            <input asp-for="NewPassword" class="login__input" type="password" required>
            <span class="login__highlight"></span>
            <span class="login__bar"></span>
            <label asp-for="NewPassword" class="login__label">Новый пароль</label>
        </div>

        <div class="login__submit">
            <input class="login__btn" type="submit" value="Изменить" />
        </div>
    </form>
</div>
