@model networkApp.ViewModels.Users.CreateUserViewModel
@{
    ViewBag.Title = "Добавление пользователя";
}

<div class="login-block registed-block">
    <h2 class="login__header">Добавление пользователя</h2>
    <form asp-action="Create" asp-controller="Users">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="login__group">
            <input asp-for="Email" class="login__input" type="text" required>
            <span class="login__highlight"></span>
            <span class="login__bar"></span>
            <label asp-for="Email" class="login__label">Логин/Email</label>
        </div>

        <div class="login__group">
            <input asp-for="FirstName" class="login__input" type="text" required>
            <span class="login__highlight"></span>
            <span class="login__bar"></span>
            <label asp-for="FirstName" class="login__label">Имя</label>
        </div>

        <div class="login__group">
            <input asp-for="LastName" class="login__input" type="text" required>
            <span class="login__highlight"></span>
            <span class="login__bar"></span>
            <label asp-for="LastName" class="login__label">Фамилия</label>
        </div>

        <div class="login__group">
            <input asp-for="Group" class="login__input" type="text" required>
            <span class="login__highlight"></span>
            <span class="login__bar"></span>
            <label asp-for="Group" class="login__label">Группа</label>
        </div>

        <div class="login__group">
            <input asp-for="Password" class="login__input" type="password" required>
            <span class="login__highlight"></span>
            <span class="login__bar"></span>
            <label asp-for="Password" class="login__label">Пароль</label>
        </div>

        <div class="login__submit">
            <input class="login__btn" type="submit" value="Добавить" />
        </div>
    </form>
</div>