
@{
    ViewData["Title"] = "NotFound";
}

<div class="image-block">
    <img class="image-block__gif" src="https://thumbs.gfycat.com/PastSnarlingIchthyostega-size_restricted.gif" alt="">
</div>
<div class="text-block">
    <span class="first_line">Время для паники</span>
    <span class="second_line">ERROR 404</span>
    <span class="third_line">Страница не найдена</span>
    <span class="fourth_line">Ты зашёл не в тот район, приятель</span>
    <span class="fifth_line">Сам не знаю как так вышло</span>
    <span class="sixth_line">NOT FOUND</span>
    <span class="seventh_line">Ну и что теперь делать будем?</span>
    <span class="eighth_line">Возможно стоит начать сначала?</span>
</div>

