<html>
<body onload="initDoc();">
    <form asp-action="pushDocument" name="compForm" method="post" class="lecture-constructor__settings-container" onsubmit="if(validateMode()){this.myDoc.value=oDoc.innerHTML;return true;}return false;">
        <input type="hidden" name="myDoc">
        <input type="hidden" name="oldName" value="@ViewBag.FileName">
        <div class="text__block">
            <input class="text-input text-input--all test-name__imput" value="@ViewBag.FileName" type="text" id="testname" name="lectureName" placeholder="Введите название лекции" required />
            <span class="focus-border focus-name-border"></span>
        </div>

        <div id="toolBar2" class="lecture-constructor__settings-item">
            <div class="lecture-constructor__item-container">
                <div class="lecture-constructor__formatDoc-container lecture-constructor__formatDoc-container-row">
                    <img class="lecture-constructor__option lecture-constructor__option--big" title="Вставить" onclick="formatDoc('paste');" src="~/lib/icon/enter.png" />
                    <div class="lecture-constructor__formatDoc-container-col">
                        <img class="lecture-constructor__option" title="Гиперссылка" onclick="var sLnk=prompt('Введите ваш URL','http:\/\/');if(sLnk&&sLnk!=''&&sLnk!='http://'){formatDoc('createlink',sLnk)}" src="~/lib/icon/link.png" />
                        <img class="lecture-constructor__option" title="Вставить изображение" onclick="var sLnk=prompt('Введите ваш URL','http:\/\/');if(sLnk&&sLnk!=''&&sLnk!='http://'){formatDoc('insertImage',sLnk)}" src="~/lib/icon/image.png" />
                    </div>
                    <div class="lecture-constructor__formatDoc-container-col">
                        <img class="lecture-constructor__option" title="Назад" onclick="formatDoc('undo');" src="~/lib/icon/after.png" />
                        <img class="lecture-constructor__option" title="Копировать" onclick="formatDoc('copy');" src="~/lib/icon/copy.png" />
                    </div>
                    <div class="lecture-constructor__formatDoc-container-col">
                        <img class="lecture-constructor__option" title="Вперёд" onclick="formatDoc('redo');" src="~/lib/icon/before.png" />
                        <img class="lecture-constructor__option" title="Вырезать" onclick="formatDoc('cut');" src="~/lib/icon/cut.png" />
                    </div>
                </div>
                <span class="lecture-constructor__item-description">Буфер</span>
            </div>
            <div class="lecture-constructor__item-container">
                <div class="lecture-constructor__formatDoc-container">
                    <div class="lecture-constructor__formatDoc-container-row">
                        <select class="lecture-constructor__select" onchange="formatDoc('fontname',this[this.selectedIndex].value);this.selectedIndex=0;">
                            <option selected disabled>шрифт</option>
                            <option>Arial</option>
                            <option>Arial Black</option>
                            <option>Courier New</option>
                            <option>Times New Roman</option>
                        </select>
                        <select class="lecture-constructor__select" onchange="formatDoc('fontsize',this[this.selectedIndex].value);this.selectedIndex=0;">
                            <option selected disabled>размер шрифта</option>
                            <option value="1">Малюсенький</option>
                            <option value="2">Маленький</option>
                            <option value="3">Нормальный</option>
                            <option value="4">Большеват</option>
                            <option value="5">Большой</option>
                            <option value="6">Большущий</option>
                            <option value="7">Огромный</option>
                        </select>
                    </div>
                    <div class="lecture-constructor__formatDoc-container-row">
                        <img class="lecture-constructor__option" title="Жирный" onclick="formatDoc('bold');" src="~/lib/icon/bold.png" />
                        <img class="lecture-constructor__option" title="Italic" onclick="formatDoc('italic');" src="~/lib/icon/italic.png" />
                        <img class="lecture-constructor__option" title="Подчёркивание" onclick="formatDoc('underline');" src="~/lib/icon/underline.png" />
                        <img class="lecture-constructor__option" title="Надсрочный" onclick="formatDoc('subscript');" src="~/lib/icon/sup.png" />
                        <img class="lecture-constructor__option" title="Подстрочный" onclick="formatDoc('superscript');" src="~/lib/icon/sub.png" />
                        <img class="lecture-constructor__option" title="Удалить форматирование" onclick="formatDoc('removeFormat')" src="~/lib/icon/clearStule.png">

                        <select class="lecture-constructor__select" onchange="formatDoc('forecolor',this[this.selectedIndex].value);this.selectedIndex=0;">
                            <option selected disabled>цвет текста</option>
                            <option value="White">Белый</option>
                            <option value="gray" style="color: gray">Серый</option>
                            <option value="Silver" style="color: Silver">Серебренный</option>
                            <option value="red" style="color: red">Красный</option>
                            <option value="OrangeRed" style="color: red">Оранжевый</option>
                            <option value="Gold" style="color: Gold">Золотой</option>
                            <option value="yellow" style="color: yellow">Желтый</option>
                            <option value="Lime" style="color: Lime">Лайм</option>
                            <option value="green" style="color: green">Зелёный</option>
                            <option value="DeepSkyBlue" style="color: DeepSkyBlue">Голубой</option>
                            <option value="blue" style="color: blue">Синий</option>
                            <option value="DeepPink" style="color: DeepPink">Розовый</option>
                            <option value="Fuchsia" style="color: Fuchsia">Малиновый</option>
                            <option value="Purple" style="color: Purple">Фиолетовый</option>
                            <option value="black" style="color: black">Чёрный</option>
                        </select>
                    </div>
                </div>
                <span class="lecture-constructor__item-description">Шрифт</span>
            </div>
            <div class="lecture-constructor__item-container">
                <div class="lecture-constructor__formatDoc-container">
                    <div class="lecture-constructor__formatDoc-container-row">
                        <img class="lecture-constructor__option" title="Нумерованный список" onclick="formatDoc('insertorderedlist');" src="~/lib/icon/number-list.png" />
                        <img class="lecture-constructor__option" title="Маркированный список" onclick="formatDoc('insertUnorderedList');" src="~/lib/icon/marker-list.png" />
                        <img class="lecture-constructor__option" title="Выровнять слева" onclick="formatDoc('justifyleft');" src="~/lib/icon/justify-left.png" />
                        <img class="lecture-constructor__option" title="Выровнять центр" onclick="formatDoc('justifycenter');" src="~/lib/icon/justify-center.png" />
                        <img class="lecture-constructor__option" title="Выровнять справа" onclick="formatDoc('justifyright');" src="~/lib/icon/justify-right.png" />
                        <img class="lecture-constructor__option" title="Выровнять по ширине" onclick="formatDoc('justifyFull');" src="~/lib/icon/justify-full.png" />
                        <img class="lecture-constructor__option" title="Добавить отступ" onclick="formatDoc('indent');" src="~/lib/icon/addIndent.png" />
                        <img class="lecture-constructor__option" title="Удалить отступ" onclick="formatDoc('outdent');" src="~/lib/icon/deleteIndent.png" />

                    </div>
                    <div class="lecture-constructor__formatDoc-container-row">
                        <select class="lecture-constructor__select" onchange="formatDoc('backcolor',this[this.selectedIndex].value);this.selectedIndex=0;">
                            <option selected disabled>цвет текста</option>
                            <option value="White">Белый</option>
                            <option value="gray" style="background: gray">Серый</option>
                            <option value="Silver" style="background: Silver">Серебренный</option>
                            <option value="red" style="background: red">Красный</option>
                            <option value="OrangeRed" style="background: red">Оранжевый</option>
                            <option value="Gold" style="background: Gold">Золотой</option>
                            <option value="yellow" style="background: yellow">Желтый</option>
                            <option value="Lime" style="background: Lime">Лайм</option>
                            <option value="green" style="background: green">Зелёный</option>
                            <option value="DeepSkyBlue" style="background: DeepSkyBlue">Голубой</option>
                            <option value="blue" style="background: blue">Синий</option>
                            <option value="DeepPink" style="background: DeepPink">Розовый</option>
                            <option value="Fuchsia" style="background: Fuchsia">Малиновый</option>
                            <option value="Purple" style="background: Purple">Фиолетовый</option>
                            <option value="black" style="background: black; color: white">Чёрный</option>
                        </select>
                    </div>
                </div>
                <span class="lecture-constructor__item-description">Абзац</span>
            </div>

            <div class="lecture-constructor__item-container">
                <div class="lecture-constructor__formatDoc-container">
                    <div class="lecture-constructor__formatDoc-container-row">
                        <img class="lecture-constructor__option" title="Чистка" onclick="if(validateMode()&&confirm('Вы уверены?')){oDoc.innerHTML=sDefTxt};" src="~/lib/icon/clear.png" />
                        <img class="lecture-constructor__option" title="Печать" onclick="printDoc();" src="~/lib/icon/print.png">
                        <img class="lecture-constructor__option" title="Горизонтальная линия" onclick="formatDoc('insertHorizontalRule');" src="~/lib/icon/horizontLine.png" />
                    </div>
                    <div class="lecture-constructor__formatDoc-container-row">
                        <select class="lecture-constructor__select" onchange="formatDoc('formatblock',this[this.selectedIndex].value);this.selectedIndex=0;">
                            <option selected disabled>формат</option>
                            <option value="h1">Заголовок 1 &lt;h1&gt;</option>
                            <option value="h2">Заголовок 2 &lt;h2&gt;</option>
                            <option value="h3">Заголовок 3 &lt;h3&gt;</option>
                            <option value="h4">Заголовок 4 &lt;h4&gt;</option>
                            <option value="h5">Заголовок 5 &lt;h5&gt;</option>
                            <option value="h6">Заголовок 6 &lt;h6&gt;</option>
                            <option value="p">Параграф &lt;p&gt;</option>
                            <option value="pre">Preformatted &lt;pre&gt;</option>
                        </select>
                    </div>
                </div>
                <span class="lecture-constructor__item-description">Формат</span>
            </div>
        </div>

        <div class="lecture-constructor__text-container">
            <div id="textBox" contenteditable="true">
                @Html.Raw(ViewBag.Lecture)
            </div>
            <span id="editMode" class="lecture-constructor__html-enabled">
                <input id="switchBox" type="checkbox" name="switchMode" onchange="setDocMode(this.checked);" />
                <label for="switchBox">Показать HTML</label>
            </span>
        </div>

        <span>
            <input id="btn" type="submit" class="button btn btn-primary mt-24" value="Сохранить лекцию" onsubmit="return validate_form();" />
        </span>
    </form>
</body>

<script>
    var oDoc, sDefTxt;

    function initDoc() {
        oDoc = document.getElementById("textBox");
        sDefTxt = oDoc.innerHTML;
        if (document.compForm.switchBox.checked) { setDocMode(true); }
    }

    function formatDoc(sCmd, sValue) {
        if (validateMode()) { document.execCommand(sCmd, false, sValue); oDoc.focus(); }
    }

    function validateMode() {
        if (!document.compForm.switchBox.checked) { return true; }
        alert("Uncheck \"Показать HTML\"."); /* убрать галочку из "Показать HTML" */
        oDoc.focus();
        return false;
    }

    function setDocMode(bToSource) {
        var oContent;
        if (bToSource) {
            oContent = document.createTextNode(oDoc.innerHTML);
            oDoc.innerHTML = "";
            var oPre = document.createElement("pre");
            oDoc.contentEditable = false;
            oPre.id = "sourceText";
            oPre.contentEditable = true;
            oPre.appendChild(oContent);
            oDoc.appendChild(oPre);
            document.execCommand("defaultParagraphSeparator", false, "div");
        }
        else {
            if (document.all) {
                oDoc.innerHTML = oDoc.innerText;
            }
            else {
                oContent = document.createRange();
                oContent.selectNodeContents(oDoc.firstChild);
                oDoc.innerHTML = oContent.toString();
            }
            oDoc.contentEditable = true;
        }
        oDoc.focus();
    }

    function printDoc() {
        if (!validateMode()) { return; }
        var oPrntWin = window.open("", "_blank", "width=450,height=470,left=400,top=100,menubar=yes,toolbar=no,location=no,scrollbars=yes");
        oPrntWin.document.open();
        oPrntWin.document.write("<!doctype html><html><head><title>Print<\/title><\/head><body onload=\"print();\">" + oDoc.innerHTML + "<\/body><\/html>");
        oPrntWin.document.close(); /*  */
    }
</script>
</html>