@model IEnumerable<networkApp.Models.GroupInfo>
@{
    ViewBag.Title = "Список групп";
}

<h2 class="questions__title">Список групп</h2>

<a class="button button--create btn btn-sm btn-primary role-btn" asp-action="Create">Добавить группу</a>

<table class="table table--groups">
    <tr>
        <th class="title-col--group">Группа</th>
        <th class="title-col">Специальность</th>
        <th class="control-col"></th>
    </tr>
    @foreach (var group in Model)
    {
        <tr>
            <td class="title-col--group">@group.GroupNum</td>
            <td class="title-col">@group.Specialize</td>
            <td class="control-col">
                <form asp-action="Delete" asp-route-id="@group.GroupInfoId" method="post">
                    <button class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@group.GroupInfoId">
                        Изменить
                    </button>
                    <button class="btn btn-sm btn-danger type="submit"">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
</table>